body {
    background-color:#FCDCDC;

}
.cool-color {
    color: #FF5F81;
}
.color-text {
    color:#A45CB9;
}
li {
    color: black;
}
p {
    color:#018F9C;
}
li {
    color: #018F9C;
}
h1 {
    text-align: center;
}